:root {
    --clr-1: rgb(58, 62, 92);
    --clr-2: rgb(126, 185, 225);
    --clr-3: rgb(138, 116, 190);
    --clr-4: rgb(218, 157, 225);
    --clr-5: rgb(248, 200, 255);
}

body {
    background-color: var(--clr-1);
    color: azure;
}