body {
    margin: 0;
    background-color: rgb(47, 47, 47);
    font-family: system-ui;
    font-size: 1.25rem;
    font-weight: bold;  
    line-height: 1.5; 
}

.wrapper {
    max-width: 50rem;
    margin-inline: auto;
    padding-inline: 1rem;
    text-align: center;
}

.sitetitle {
    font-size: 3rem;
    font-weight: bold;  
    text-align: center;
}

.welcomescreen {
    background-image: linear-gradient(45deg, rgb(151, 205, 255), rgb(255, 195, 249));
}

