@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}


:root {
    --clr-1: rgb(195, 229, 255);
    --clr-2: rgb(126, 185, 225);
    --clr-3: rgb(138, 116, 190);
    --clr-4: rgb(218, 157, 225);
    --clr-5: rgb(248, 200, 255);
}

body {
    background-color: rgb(33, 34, 42); ;
    min-height: 140vh;
    display: grid;
    place-content: center;
}

.Card {
    height: 60vh;
    aspect-ratio: 2/1;
    background: var(--clr-1);
    border-radius: 0.5rem;

    position: relative;
}

.Card::before,
.card::after {
    content: "";
    position: absolute;
    inset: -0.5rem;
    border-radius: inherit;
    z-index: -1;
    background: conic-gradient(
      from var(--gradient-angle),
      var(--clr-2),
      var(--clr-3),
      var(--clr-4),
      var(--clr-5),
      var(--clr-4),
      var(--clr-3),
      var(--clr-2),
    );
    border-radius: inherit;
    animation: rotation 20s linear infinite;
}

.card::after {
    filter: blur(3.5rem);
}

@keyframes rotation {
    0% {
      --gradient-angle: 0deg;
    }
    100% {
      --gradient-angle: 360deg;
    }
  }
  

