@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}


:root {
    --clr-1: rgb(58, 62, 92);
    --clr-2: rgb(126, 185, 225);
    --clr-3: rgb(138, 116, 190);
    --clr-4: rgb(218, 157, 225);
    --clr-5: rgb(248, 200, 255);
}

body {
    background-color: var(--clr-1);
    min-height: 100vh;
    font-family: system-ui;
    font-size: 1.25rem;
    color: azure; 
}

.grid {
  align-items: center;
  display: grid;
  grid-auto-flow: column;
  gap: 5rem;
}

.card-main{
    height: 40rem;
    aspect-ratio: 1/3;
    background: var(--clr-1);
    border-radius: 0.5rem;
    padding-inline: 3rem;
    position: relative;
}

.card-links {
  height: 40rem;
  aspect-ratio: 1/2;
    background: var(--clr-1);
    border-radius: 0.5rem;
    padding-inline: 3rem;
    position: relative;
}

.card-main::before,
.card-main::after {
    content: "";
    position: absolute;
    inset: -0.5rem;
    border-radius: inherit;
    z-index: -1;
    background: conic-gradient(
      from var(--gradient-angle),
      var(--clr-2),
      var(--clr-4),
      var(--clr-5),
      var(--clr-4),
      var(--clr-2)
    );
    border-radius: inherit;
    animation: rotation 20s linear infinite;
}
.card-main::after {
    filter: blur(3rem);
}

.card-links::before,
.card-links::after {
    content: "";
    position: absolute;
    inset: -0.5rem;
    border-radius: inherit;
    z-index: -1;
    background: conic-gradient(
      from var(--gradient-angle),
      var(--clr-2),
      var(--clr-4),
      var(--clr-5),
      var(--clr-4),
      var(--clr-2)
    );
    border-radius: inherit;
    animation: rotation 20s linear infinite;
}
.card-links::after {
    filter: blur(3rem);
}

/*
.Welcome-Header {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}
.Project-link {
  text-decoration: none;
  color: rgb(36, 231, 36);
}
.Gallery-Link {
  text-decoration: none;
  color: rgb(231, 36, 36);
}*/
@keyframes rotation {
    0% {
      --gradient-angle: 0deg;
    }
    100% {
      --gradient-angle: 360deg;
    }
  }
  

  

