.container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding-left: 0.7rem;
    padding-right: 0.7rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    transition: background-color 0.3s ease, transform 0.3s ease;
    
    cursor: pointer;
    border-radius: 1rem; 
    font-size: 1rem;
    font-weight: bold;
    white-space: nowrap; 
    margin: 0.5rem;

    font-size: 1rem;
    color: #4E3D31; 
}

.container:hover {
    background-color: #F2ECE4;
}

/**/


